body {
    background-color: #A3DEB7;
}


#title {
    background color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

#description {
  font-family: 'Gochi Hand', cursive;
  font-size: 27px;
  padding: 0px;
  margin: 10px 0px 50px 150px;
  display: flex;
  text-align: center;
  align-self: center;
}

.border {
    border-color: white;
    border-width: 15px;
    border-style: solid;
}

#inner-form {
    background-color: #A9A3DE;
    margin: auto;
    height: 120vh;
    width: 70%;
    padding: 50px;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    line-height: 3em;
    font-family: 'Gochi Hand', cursive;
}

.series {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding-left: 10px;
    float: left;
    font-family: 'Poppins' , cursive;
}

#dropdown {
    position: relative;
}

.questions {
    font-family: 'Poppins' , cursive;
}

.input-field {
    font-family: 'Poppins' , cursive;
    text-align: center;
}

.radio-buttons {
    display: flex;
    font-family: 'Poppins' , cursive;
}

.checkbox {
    text-align: center;
    margin: 0px;
}